@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Montserrat:wght@500&display=swap');

* {
 padding: 0;
 margin: 0;
}

body {
 background: linear-gradient(180deg, #051E3E 0%, #004AAD 100%);
}

.navbar {
 position: absolute;
 width: 100vw;
 height: 10vw;
 left: 0px;
 top: 0px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.navbar img {
 width: 4rem;
 height: 4rem;
 margin-left: 4vw;
}

.navbar .nav {
 width: 40vw;
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-right: 4vw;
}

.navbar .nav li {
 list-style: none;
 color: white;
 font-size: 2vw;
}

.navbar .nav li:hover {
 cursor: pointer;
}

.header {
 width: 100vw;
 height: 56.25vw;
 left: 0px;
 top: 100px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.header p {
 font-family: Fira Code;
 font-style: normal;
 font-weight: 500;
 color: #00F5A0;
}

.header h1 {
 font-family: Montserrat;
 font-style: normal;
 font-weight: 500;
 color: white;
 font-size: 10vw;
}

.about,
.resource {
 width: 100vw;
 height: 56.25vw;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.resource {
 flex-flow: row-reverse;
}

.about .about_text,
.resource .resource_text {
 width: 30vw;
 font-size: 1.9vw;
}


.about .about_text p:first-of-type,
.resource .resource_text p:first-of-type {
 font-family: Fira Code;
 font-style: normal;
 font-weight: 500;
 letter-spacing: 0.05em;
 color: #00F5A0;
 margin-bottom: 1.9vw;
}

.about .about_text p:last-of-type,
.resource .resource_text p:last-of-type {
 font-family: Montserrat;
 font-style: normal;
 font-weight: 500;
 letter-spacing: 0.05em;
 color: #FFFFFF;
}


.about img,
.resource img {
 width: 35vw;
 height: 20.17vw;
 margin-bottom: 14vw;
}

.resource img {
 width: 35vw;
 height: 28.2vw;
 margin-bottom: 7vw;
}

.footer {
 width: 100vw;
 height: 10vw;
 display: flex;
 flex-direction: column;
 position: relative;
 justify-content: center;
 align-items: center;
}

.footer .footer_logo {
 width: 20vw;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.footer .footer_logo li {
 list-style: none;
}

.footer .footer_logo li img {
 width: 2vw;
 height: 2vw;
}

.footer .footer_develop {
 color: #00D9F5;
 font-size: 1.6vw;
}

.footer .footer_develop .footer_develop_by {
 color: #00F5A0;
}

@media screen and (max-width: 480px) {
 .navbar img {
  width: 2rem;
  height: 2rem;
 }

}